body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9dc7a8;
  }
  
  h1 {
    text-align: center;
    font-family: "Rakkas", serif;
    color: #000000;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 columns */
    grid-template-rows: repeat(3, 100px); /* 3 rows to ensure cells are square */
    gap: 4px; /* gap between cells */
    background-color: #6b6b6b;
    margin-bottom: 20px;
  }
  
  .cell {
    background-color: #ffffff;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .cell:hover {
    background-color: #eee; /* Hover effect for cells */
  }
  
  .cell:focus {
    outline: none; /* Removes the focus outline */
    transform: scale(1.05); /* Slightly enlarges the cell on focus */
  }

  .option {
    width: 200px;
    margin: 20px;
  }

  .restart {
    margin-top: 50px;
  }
  
  button {
    background-color: #ee6a93;
    border: none;
    font-family: "Rakkas", serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #eee;
  }
  
  button:focus {
    outline: none;
    transform: scale(1.05);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  